body {
    background-color: #FCCBCC;
    color: #05514D;
    font-family: Arial, sans-serif;
}

.container {
    border: 7px solid #9B1003;
    border-radius: 10px;
}

/* Nav */
.navbar {
    background-color: #C91923;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link, btn-dark {
    color: #FA9394;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #FCCBCC !important;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    max-width: 150px;
    border: 3px solid;
    border-image: linear-gradient(to right, red, yellow, red, yellow);
    border-image-slice: 1;
}

/* Main */
.welcome {
    background-color: #FA9394;
    color: #05514D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #C91923;
    color: #FCCBCC;
    padding: 10px 0;
    border-top: 3px solid #05514D;
}

/* Index */
.carousel-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 5px solid #C91923;
    border-radius: 10px;
}

.carousel-caption .names {
    background-color: rgba(5, 81, 77, 0.8);
    color: #FCCBCC;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Forms */
.formsarea {
}

.resultsarea {
}
