body {
    background-color: #FCCBCC;
    color: #05514D;
    font-family: Arial, sans-serif;
}

container {
    border: 7px
    border-color: #9B1003;
    border-style: inset;
    margin: 30px;
}
    
 /* Navigation Bar */
.navbar {
    background-color: #C91923 ;
}

.nav-link, .navbar-brand, .btn-dark {
    color: #FA9394;
}

.navbar-brand {
    size: 30px;
    border: 3px;
    border-color: red yellow red yellow;
}
 /* Main */
.welcome {
    background-color: #FA9394;
    color: #05514D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #C91923;
    color: #FCCBCC;
    padding: 10px 0;
    border-top: 3px solid #05514D;
}

/* Carousel */
    .carousel-item img {
        size: 30%;
        border: 5px solid #C91923;
        border-radius: 10px;
    }
    
    .carousel-caption .names {
        background-color: rgba(5, 81, 77, 0.8);
        color: #FCCBCC;
        padding: 5px 10px;
        border-radius: 5px;
    }
